{% extends "home_page.html" %} {% block title %}Pending School Admins{% endblock %}<!DOCTYPE html>

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/admin" class = "btn btn-info" role = "button">Home <i class = "fa fa-house"></i></a>
    </div>

    <div class = "container" style = "width: 70%;"> 
        <table class = "table table-dark table-hover mt-5"> 
            <thead> 
                <tr>
                    <th scope="col" class="col-2">School Library Admin</th>
                    <th scope="col" class="col-2">School</th>
                    <th scope="col" class="col-1">Approve</th>
                    <th scope="col" class="col-1">Deny</th>
                </tr>
            </thead>
            {% for i in school_admin %}
                <thead> 
                    <tr>
                        <td class="align-middle">{{i[0]+' '+i[1]}}</td>
                        <td class="align-middle">{{i[2]}}</td>       
                        <td class="align-middle"><a href = "/admin/pending_approve" class="btn btn-outline-success" role = "button" onclick="handle_Click_Approve('{{i[3]}}')">Approve</a></td>
                        <td class="align-middle"><a href = "/admin/pending_decline" class="btn btn-outline-danger" role = "button" onclick="handle_Click_Decline('{{i[3]}}')">Decline</a></td>
                    </tr>
                </thead>
            {% endfor %}
        </table>
    </div>
<script>
    function handle_Click_Approve(id) {
        var formData = new FormData();
        formData.append('admin_schooladmin_approve_button', id);
        
        fetch('/admin/pending_approve', {
        method: 'POST',
        body: formData
        });
    }
</script>
<script>
    function handle_Click_Decline(id) {
        var formData = new FormData();
        formData.append('admin_schooladmin_decline_button', id);
        
        fetch('/admin/pending_decline', {
        method: 'POST',
        body: formData
        });
    }
</script>
{% endblock %}