{% extends "home_page.html" %} {% block title %}Question 6{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
.small-table {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/admin" class = "btn btn-info" role = "button">Home <i class = "fa fa-house"></i></a>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover mt-5 small-table"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">First Category</th>
                    <th scope="col" class = "col-2">Second Category</th>
                    <th scope="col" class = "col-2">Number of Books</th>
                </tr>
            </thead>
            {% for i in question_6 %}
                <thead> 
                    <tr>
                        <td class="align-middle">{{i[1]}}</div></td>
                        <td class="align-middle">{{i[2]}}</div></td>
                        <td class="align-middle">{{i[0]}}</div></td>
                    </tr>
                </thead>
            {% endfor %}
        </table>
    </div>
{% endblock %}