{% extends "base.html" %} {% block title %}Admin Home Page{% endblock %}

{% block button_header %}
<style>
    #topRight {
        position: fixed;
        top: 0;
        right: 0;
    }
</style>
{% endblock %}

{% block content %}
<div id="topRight">
    <a href="/home" class="btn btn-info pull-right" role="button">LogOut</a>
</div>
{% endblock %}


{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="/admin/schoollist"> School List </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/pending"> Pending School Admins </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tooltip" title="Overrides any previous backups"> Create Backup </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tooltip"
        title="Restores the most recently backed up version of the database">
        Restore Database
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
        OPERATIONS
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#"> Show list with total </br> number of borrowings </br> per school </a>
        <a class="dropdown-item" href="#"> Show writers who </br> belong in specific </br> category </a>
        <a class="dropdown-item" href="#"> Show under 40 </br> teachers that have </br> borrowed the </br> most books
        </a>
        <a class="dropdown-item" href="#"> Question 4 </a>
        <a class="dropdown-item" href="#"> Question 5 </a>
        <a class="dropdown-item" href="#"> Question 6 </a>
        <a class="dropdown-item" href="#"> Question 7 </a>
    </div>
</li>
{% endblock %}