{% extends "base.html" %} {% block title %}Admin Home Page{% endblock %}

{% block button_header %}
<style>
    #topRight {
        position: fixed;
        top: 0;
        right: 0;
    }
</style>
{% endblock %}
{% include "flash.html" %}
{% block content %}
<div id="topRight">
    <a href="/" class="btn btn-info pull-right" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a>
</div>
{% endblock %}


{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="/admin/schoollist"> School List </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/pending"> Pending School Admins </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/show_admins"> School Admins </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/backup" data-toggle="tooltip" title="Overrides any previous backups"> Create Backup </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/restore" data-toggle="tooltip"
        title="Restores the most recently backed up version of the database">
        Restore Database
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
        OPERATIONS
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/admin/question_1"> Question 1 </a>
        <a class="dropdown-item" href="/admin/question_2"> Question 2 </a>
        <a class="dropdown-item" href="/admin/question_3"> Question 3 </a>
        <a class="dropdown-item" href="/admin/question_4"> Question 4 </a>
        <a class="dropdown-item" href="/admin/question_5"> Question 5 </a>
        <a class="dropdown-item" href="/admin/question_6"> Question 6 </a>
        <a class="dropdown-item" href="/admin/question_7"> Question 7 </a>
    </div>
</li>
{% endblock %}