{% extends "home_page.html" %} {% block title %}School Admins{% endblock %}<!DOCTYPE html>

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search {
    position:fixed;
    left:0;
    top:97px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut</a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/admin" class = "btn btn-info" role = "button">Home</a>
    </div>

    <div class = "container" style = "width:70%;"> 
        <table class = "table table-dark table-hover mt-5"> 
            <thead> 
                <tr>
                    <th scope="col" class="col-1">School Library Admin</th>
                    <th scope="col" class="col-1">School</th>
                </tr>
                <tbody>
                    <tr>
                        <td> 
                            <form class = "d-flex" action="/admin/show_admins" method="POST">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="search_school"
                                        name="search_approved_admin"
                                        placeholder="Search school">
                                            <button type="submit" class="btn btn-info">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                            </form>
                        </td>
                        <th scope="col" class = "col-1"></th>
                    </tr>
                </tbody>
            </thead>
            {% for i in school_admin %}
                <thead> 
                    <tr>
                        <td class="align-middle">{{i[0]+' '+i[1]}}</td>
                        <td class="align-middle">{{i[2]}}</td>       
                    </tr>
                </thead>
            {% endfor %}
        </table>
    </div>
{% endblock %}