{% extends "home_page.html" %} {% block title %}Write a review{% endblock %}

{% block button_header %}
<style>
    #topRight {
        position: fixed;
        top: 0;
        right: 0;
    }
    #nextToRight {
        position: fixed;
        top: 0;
        right: 100px;
    }
    #submit {
         
        top: 550px; 
        right: 100px; 
    }
</style>
{% endblock %}


{% block content %}
    <div id="topRight">
        <a href="../home_page.html" class="btn btn-info" role="button">LogOut</a>
    </div>

    <div id="nextToRight">
        <a href="user_firstpage.html" class="btn btn-info" role="button">Home</a>
    </div>

    <div class="container rounded bg-dark mt-5 mb-5" style="color:white;">
        <div class="row">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1>Grade the Book</h1>
                </div>
                <h4>To each of the below questions, give a grade from 1-5 accordingly</h4>
                <div class="row mt-3">
                    <div class="col md-20">
                        <label class="labels">
                            <h6>Question 1: How would you rate the writing style of the book?</h6>
                        </label>
                        <div>
                            <ul style="text-align: left; float: left; list-style-type: none;">
                                <li style="display:inline">
                                    Less
                                    <input id="radBookStart" type="radio" name="Book1" value="1" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book1" value="2" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book1" value="3" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book1" value="4" />
                                </li>
                                <li style="display:inline">
                                    <input id="radBookEnd" type="radio" name="Book1" value="5" />
                                    More
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col md-20">
                        <label class="labels">
                            <h6>Question 2: How engaging was the book in terms of holding your interest?</h6>
                        </label>
                        <div>
                            <ul style="text-align: left; float: left; list-style-type: none;">
                                <li style="display:inline">
                                    Less
                                    <input id="radBookStart" type="radio" name="Book2" value="1" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book2" value="2" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book2" value="3" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book2" value="4" />
                                </li>
                                <li style="display:inline">
                                    <input id="radBookEnd" type="radio" name="Book2" value="5" />
                                    More
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col md-20">
                        <label class="labels">
                            <h6>Question 3: How satisfied are you with the overall reading experience?</h6>
                        </label>
                        <div>
                            <ul style="text-align: left; float: left; list-style-type: none;">
                                <li style="display:inline">
                                    Less
                                    <input id="radBookStart" type="radio" name="Book3" value="1" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book3" value="2" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book3" value="3" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book3" value="4" />
                                </li>
                                <li style="display:inline">
                                    <input id="radBookEnd" type="radio" name="Book3" value="5" />
                                    More
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                
                <div class="row mt-3">
                    <div class="col md-20">
                        <label class="labels">
                            <h6>Question 4: Did the book meet your expectations?</h6>
                        </label>
                        <div>
                            <ul style="text-align: left; float: left; list-style-type: none;">
                                <li style="display:inline">
                                    Less
                                    <input id="radBookStart" type="radio" name="Book4" value="1" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book4" value="2" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book4" value="3" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book4" value="4" />
                                </li>
                                <li style="display:inline">
                                    <input id="radBookEnd" type="radio" name="Book4" value="5" />
                                    More
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                
                <div class="row mt-3">
                    <div class="col md-20">
                        <label class="labels">
                            <h6>Question 5: Overall, how would you rate the book?</h6>
                        </label>
                        <div>
                            <ul style="text-align: left; float: left; list-style-type: none;">
                                <li style="display:inline">
                                    Less
                                    <input id="radBookStart" type="radio" name="Book5" value="1" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book5" value="2" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book5" value="3" />
                                </li>
                                <li style="display:inline">
                                    <input type="radio" name="Book5" value="4" />
                                </li>
                                <li style="display:inline">
                                    <input id="radBookEnd" type="radio" name="Book5" value="5" />
                                    More
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1>Write a review</h1>
                </div>
                <h4>Write your review for the book in the box below</h4>
                <div class="row mt-3">
                    <div class="col md-20">
                        <textarea id="review" name="review" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id = "submit"> 
            <a href = "#" class = "btn btn-primary" role = "button">Submit</a>
        </div>
    </div>
{% endblock %}