{% extends "home_page.html" %} {% block title %}Reservations List{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/schooladmin" class = "btn btn-info" role = "button">Home <i class = "fa fa-house"></i></a>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover mt-5"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-1 ">ISBN</th>
                    <th scope="col" class = "col-2">Title</th>
                    <th scope="col" class = "col-2">Author</th>
                    <th scope="col" class = "col-2">User First Name</th>
                    <th scope="col" class = "col-2">User Last Name</th>
                    <th scope="col" class = "col-2">Date Reserved</th>
                    <th scope="col" class = "col-4">Borrowing Date</th>
                    <th scope="col" class = "col-1">Proceed</th>
                </tr>
            </thead>
            <tbody>
                {% for i in reservations %}
                <tr>
                    <td class = "align-middle">{{i[0]}}</td>
                    <td class = "align-middle">{{i[1]}}</td>
                    <td class = "align-middle">{{i[2] + ' ' + i[3]}}</td>
                    <td class = "align-middle">{{i[4]}}</td>
                    <td class = "align-middle">{{i[5]}}</td>
                    <td class = "align-middle">{{i[6]}}</td>
                    <td class = "align-middle">{{i[7]}}</td>
                    <td class = "align-middle"><a href = "/schooladmin/reservelist/proceed" class = "btn btn-outline-warning" role = "button" onclick = "handle_Click_Proceed('{{i[8]}}')">Proceed</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script> 
        function handle_Click_Proceed(reserveId) {
            var formData = new FormData();
            formData.append('proceed_button', reserveId);
            
            fetch('/schooladmin/reservelist/proceed', {
                method: 'POST',
                body: formData
          });
        }
    </script>
{% endblock %}