{% extends "home_page.html" %} {% block title %}Overdue Returns{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search{
    position:fixed;
    top:5px;
    left:300px;
}
</style>
{% endblock %}

{% block content %}
<div class="form-outline" style = "display:table;" id="search">
    <form action="/schooladmin/return/overdue" method = "POST">
        <div style = "display: table-cell;">
            <span class = "input-group-text">
            <input type="search" class="form-control" id="find_firstname" placeholder="Search user first name" name="search_firstname">
            </span>
        </div>
        <div style = "display: table-cell;">
            <span class = "input-group-text">
            <input type="search" class="form-control" id="find_lastname" placeholder="Search user last name" name="search_lastname">
            </span>
        </div>
        <div style = "display: table-cell;">
            <span class = "input-group-text">
            <input type="search" class="form-control" id="find_delay" placeholder="Search overdue days" name="search_delay">
            </span>
        </div>
        <div style = "display: table-cell;">
            <span class = "input-group-text">
            <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i></button>
            </span>
        </div>
    </form>
</div>

    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/schooladmin" class = "btn btn-info" role = "button">Home <i class = "fa fa-house"></i></a>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover" style = "margin-top: 4rem;"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">ISBN</th>
                    <th scope="col" class = "col-2">Title</th>
                    <th scope="col" class = "col-2">Author</th>
                    <th scope="col" class = "col-2">User First Name</th>
                    <th scope="col" class = "col-2">User Last Name</th>
                    <th scope="col" class = "col-2">Due Date</th>
                </tr>
            </thead>
            {% for i in aux %}
            <thead> 
                <tr>
                    <td class="align-middle">{{i[0]}}</div></td>
                    <td class="align-middle">{{i[1]}}</div></td>
                    <td class="align-middle">{{i[2]+' '+i[3]}}</div></td>
                    <td class="align-middle">{{i[4]}}</div></td>
                    <td class="align-middle">{{i[5]}}</div></td>
                    <td class="align-middle">{{i[6]}}</div></td>
                </tr>
            </thead>
        {% endfor %}
        </table>
    </div>
{% endblock %}