{% extends "home_page.html" %} {% block title %}Books List{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search {
    position:fixed;
    left:0;
    top:97px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/home" class = "btn btn-info" role="button">LogOut</a> 
    </div>

    <div id = "topLeft"> 
        <a href="/schooladmin/booklist/add" class = "btn btn-info" role = "button">Add a new book</a>
    </div>

    <div id = "nextToRight"> 
        <a href = "/schooladmin" class = "btn btn-info" role = "button">Home</a>
    </div>

    <div id = "search">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover mt-5"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">ISBN</th>
                    <th scope="col" class = "col-2">Title</th>
                    <th scope="col" class = "col-2">Publisher</th>
                    <th scope="col" class = "col-2">Page Number</th>
                    <th scope="col" class = "col-2">Availability</th>
                    <th scope="col" class = "col-2">Language</th>
                    <th scope="col" class = "col-3">Cover</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search ISBN" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Title" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Publisher" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Page No." aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Availability" aria-label="Search">
                        
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Language" aria-label="Search">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
