{% extends "home_page.html" %} {% block title %}Users List{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search {
    position:fixed;
    left:0;
    top:97px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/home" class = "btn btn-info" role="button">LogOut</a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/schooladmin" class = "btn btn-info" role = "button">Home</a>
    </div>

    <div id = "search">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover mt-5"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">First Name</th>
                    <th scope="col" class = "col-2">Last Name</th>
                    <th scope="col" class = "col-2">Role</th>
                    <th scope="col" class = "col-2">Date of Birth</th>
                    <th scope="col" class = "col-2">No. of Borrowed Books</th>
                    <th scope="col" class = "col-2">Deactivate</th>
                    <th scope="col" class = "col-3">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search First Name" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Last Name" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Role" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search Date of Birth" aria-label="Search">
                        </form>
                    </td>
                    <td> 
                        <form class = "d-flex"> 
                            <input class="form-control me-1" type="search" placeholder="Search No. of Borrowed Books" aria-label="Search">
                        
                        </form>
                    </td>
                    <td>
            
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="align-middle">Miltos</td>
                    <td class="align-middle">Kolovos</td>
                    <td class="align-middle">Student</td>
                    <td class="align-middle">18/05/2023</td>
                    <td class="align-middle">1</td>
                    <td class="align-middle"><button type="button" class = "btn btn-outline-warning">Deactivate</button></td>
                    <td class="align-middle"><button type="button" class = "btn btn-outline-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}