{% extends "home_page.html" %} {% block title %}Books List{% endblock %}

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search {
    position:fixed;
    left:250px;
    top:5px;
}
</style>
{% endblock %}

{% block content %}

    <div class="form-outline" style = "display:table;" id="search">
        <form action="/user/booksearch" method="POST">
            <div style = "display: table-cell;">
                <span class = "input-group-text">
                <input type="search" class="form-control" id="find_book" placeholder="Search book title" name="title">
                </span>
            </div>
            <div style = "display: table-cell;">
                <span class = "input-group-text">
                <input type="search" class="form-control" id="find_author" placeholder="Search author" name="author">    
                </span>
            </div>
            <div style = "display: table-cell;">
                <span class = "input-group-text">
                <input type="search" class="form-control" id="find_category" placeholder="Search category" name="category">   
                </span>
            </div>
            <div style = "display: table-cell;">
                <span class = "input-group-text">
                <button type="submit" class="btn btn-light">Search</button>
                </span>
            </div>
        </form>
    </div>
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut</a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/user" class = "btn btn-info" role = "button">Home</a>
    </div>
    <div class = "container"> 
        <table class = "table table-dark table-hover" style = "margin-top: 4rem;"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">Title</th>
                    <th scope="col" class = "col-2">Author</th>
                    <th scope="col" class = "col-2">Publisher</th>
                    <th scope="col" class = "col-2">Number of Pages</th>
                    <th scope="col" class = "col-2">Availability</th>
                    <th scope="col" class = "col-3">Borrow/Reserve</th>
                    <th scope="col" class = "col-2">Review</th>
                    <th scope="col" class = "col-2">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td class = "align-middle">{{ book[1] }}</td>
                    <td class = "align-middle">{{ book[2] + ' ' + book[3] }}</td>
                    <td class = "align-middle">{{ book[4] }}</td>
                    <td class = "align-middle">{{ book[5] }}</td>
                    <td class = "align-middle">{{ book[6] }}</td>
                    <td class = "align-middle">
                        <button type = "button" class = "btn btn-outline-success">Borrow</button>
                        <button type = "button" class = "btn btn-outline-warning">Reserve</button>
                    </td>
                    <td class = "align-middle">
                        <a class = "btn btn-outline-light" href = "/user/booksearch/review" onclick="handdle_Click_Review('{{ book[0] }}')">Write Review</a>
                    </td>
                    <td class = "align-middle">
                        <a href = "/user/booksearch/details" class="btn btn-light" role = "button" onclick="handle_Click_Details('{{ book[0] }}')">Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function handle_Click_Details(buttonId) {
            var formData = new FormData();
            formData.append('details_button', buttonId);
        
            fetch('/user/booksearch/details', {
                method: 'POST',
                body: formData
            });
        }
    </script>
    <script>
        function handle_Click_Review(buttonId) {
            var formData = new FormData();
            formData.append('writereview_button', buttonId);

            fetch('/user/booksearch/review', {
                method: 'POST',
                body: formData
            });
        }
    </script>
{% endblock %}