{% extends "home_page.html" %} {% block title %}My Reservations{% endblock %} 

{% block button_header %}
<style>
#topRight {
    position:fixed;
    top:0;
    right:0;
}
#topLeft {
    position:fixed;
    top:0;
    left:0;
}
#nextToRight {
    position:fixed;
    top:0;
    right:100px;
}
#search {
    position:fixed;
    left:300px;
    top:5px;
}
</style>
{% endblock %}

{% block content %}
    <div id="topRight">
        <a href="/" class = "btn btn-info" role="button">LogOut <i class="fa-solid fa-right-from-bracket"></i></a> 
    </div>

    <div id = "nextToRight"> 
        <a href = "/user" class = "btn btn-info" role = "button">Home <i class = "fa fa-house"></i></a>
    </div>

    <div class = "container"> 
        <table class = "table table-dark table-hover" style = "margin-top: 4rem;"> 
            <thead> 
                <tr>
                    <th scope="col" class = "col-2">ISBN</th>
                    <th scope="col" class = "col-2">Title</th>
                    <th scope="col" class = "col-2">Author</th>
                    <th scope="col" class = "col-2">Reservation Date(Registration)</th>
                    <th scope="col" class = "col-2">Reservation Date(Get Book)</th>
                     {% if queing %}
                    <th scope="col" class = "col-2">Cancel</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in reservation_waiting %}
                <tr>
                    <td class = "align-middle">{{i[0]}}</td>
                    <td class = "align-middle">{{i[1]}}</td>
                    <td class = "align-middle">{{i[2]+' '+i[3]}}</td>
                    <td class = "align-middle">{{i[4]}}</td>
                    <td class = "align-middle">{{i[6]}}</td>
                    {% if queing %}
                    <td class="align-middle"><a href="/user/books/reservations/waiting_cancel" class = "btn btn-outline-danger" role = "button" onclick="handle_Click_Cancel('{{i[5]}}')">Cancel reservation</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function handle_Click_Cancel(id) {
            var formData = new FormData();
            formData.append('cancel_reservation', id);
            
            fetch('/user/books/reservations/waiting_cancel', {
            method: 'POST',
            body: formData
            });
        }
    </script>
{% endblock %}